div(class="fCenter row")
    div(class="bubble")
        a(href="https://www.instagram.com/darilox/?hl=fr")
            i(class="fab fa-instagram")
    div(class="bubble")
        a(href="https://github.com/Arilox")
            i(class="fab fa-github")
    div(class="bubble")
        a(href="https://medium.com/@Darilox")
            i(class="fab fa-medium")
    div(class="bubble")
        a(href="https://www.linkedin.com/in/dorian-blanchard-81528114b/")
            i(class="fab fa-linkedin-in")