*{
    display: flex;
    position: relative;
    margin: 0px;
    padding: 0px;
}

title{
    display: none!important;
}

body{
    font-family: "Lato Light";
    font-size: 2em;
    flex-wrap: wrap;
}

.fCenter{
    justify-content: center;
    align-items: center;
}

.fBetween{
    justify-content: space-between;
}

.fullscreen{
    width: 100vw;
    height: 100vh;
}

.fullsize{
    width: 100%;
    height: 100%;
}

.col{
    flex-direction: column;
}

.bubble{
    padding: 10px;
}

.row{
    flex-direction: row !important;
}

select > div{
    top: -50px;
}
.icon50{
    width: 50px;
    height: 50px;
}

.active{
    display: flex!important;
}

@media screen and (max-width: 640px){
    *{
        flex-direction: column;
    }
}

.title{
    font-size: 4em;
}

.rounded div:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.rounded :last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Background Image */
.bgEcosia{
    background-image: url(../../IMGS/Icons/ecosia.png);
}

/** HTML TAGS **/
a{
    color: black;
    text-decoration: none;
}

input{
    padding-left: 10px;
}

input, select, .select{
    outline: none;
    height: 50px;
    border: 1px solid #7E7E7E;
    border-bottom: 1px solid black;
}

button{
    justify-content: center;
    align-items: center;
    min-width: 50px;
    color: white;
    background-color: #42DBF5;
    border: 1px solid #42DBF5;
}

button:hover{
    border: 1px solid #4265f5;
    background-color: #42b6f5;
}

button:active{
    border: 1px solid #4265f5;
    background-color:#4265f5;
}