body{
    background-color: black
}

a{
    color: white;
}
a:visited{
    color: gray;
}

*{
    font-size: 8vmin;
    font-family: Arial;
}
ul{
    margin-left: 5vw;
}
li{
    margin-bottom: 2vh;
}
