doctype html
html
    include ../includes/head.pug
    +head(Index, "")
    body
        div(class="column fullscreen spaceBetween")
            div(class="center bubble")
                i(class="fas fa-home")
            
            div(class="center column")
                div(class="bubble")
                    a(href="Kurf/kurf.html") Kurf
                div(class="bubble")
                    a(href="Portfolio/portfolio.html") Portfolio
                div(class="bubble")
                    a(class="grey_txt") Tests
                div(class="bubble grey_txt") Mon Profil
                div(class="bubble grey_txt") Blog

            include ../includes/footer.pug
        include ../includes/bodyscripts.pug
        +bodyscripts("../")