doctype html
html
    include ../../includes/head.pug
    +head(Portfolio, "../")
    body
        div(class="column fullscreen spaceBetween")
            div(class="center bubble")
                a(href="../index.html") 
                    i(class="fas fa-home")
                h4 > Portfolio

            div(class="center")
                ul(class="column center")
                    li
                        a(class="bubble" href="row&col/index.html") Lignes et Colonnes
                    li
                        a(class="bubble" href="StarWars/index.html") StarWars
                    li
                        a(class="bubble" href="diapo/index.html") Diapo
                    li
                        a(class="bubble" href="old/index.html") OldWebsite
                    li
                        a(class="bubble" href="InputDisplay/index.html") Input Display
                    li
                        a(class="bubble" href="TransparentText/index.html") Transparent Text

            include ../../includes/footer.pug