/*CSS ANIMATION DECLARATIONS*/
@keyframes starwars {
    from {
        transform: rotateX(20deg) translateX(0) translateY(900px) translateZ(-250px);
    }
    to {
        transform: rotateX(20deg) translateX(0) translateY(-600px) translateZ(-250px);
        display: none;
    }
    /*DIV CONTAINER MUST CONTAIN */
}

@keyframes rotateinfromtop {
    from {
        transform: rotateX(20deg) translateX(0) translateY(0) translateZ(250px);
    }
  
    to {
        transform: rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    }
    /*DIV CONTAINER MUST CONTAIN 
    perspective: 250px;
    perspective-origin: 50% 0%;
    transform-style: preserve-3d;
    */
}

@keyframes inflate{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(10px);
    }
}

/* CSS VARIABLES*/
:root {
 --base-margin: 50px;
}

/* FONTS DECLARATIONS*/
@font-face{
    font-family: "Notable";
    src: url("FONTS/Notable/Notable-Regular.ttf") format("truetype");
}

/*HTML ELEMENTS RULES*/
*{
    margin: 0;
    overflow: hidden;
}

#bkgaurora{
    background-color: black;
    background-size: cover;
    height: 100vh;
    perspective: 250px;
    perspective-origin: 50% 0%;
    transform-style: preserve-3d;
}

.tt{
    color: Yellow;
    font-family: "Notable";
    font-size: 10vh;
    padding: 5vh 5vw;
    text-align: center;
}

.starwars{
    perspective: 150px;
    animation: starwars;
    animation-duration: 5s;   
}

.btn{
    border: none;
    width: 50px;
    height: 50px;
    background-color : yellow;
    border-radius: 100%;
}

.btn:hover{
    animation: inflate;
    animation-duration: 0.250s;
}

.starwars{
    animation-timing-function: linear; /* cubic-bezier(0.075, 0.82, 0.165, 1); */
    perspective: 150px;
    animation: starwars;
    animation-duration: 5s;   
}