doctype html
html
    include includes/head.pug
    +head(Titre)
    body
        div(class="col fullscreen fBetween")
            div(class="fCenter bubble")
                i(class="fas fa-home")
            
            div(class="fCenter")
                div(class="bubble")
                    a(href="Kurf/kurf.html") Kurf
                div(class="bubble")
                    a(href="Portfolio/portfolio.html") Portfolio
                div(class="bubble")
                    a Tests
                div(class="bubble") Mon Profil
                div(class="bubble") Blog
        include includes/footer.pug