/*Types : "woff", "woff2", "truetype", "opentype", "embedded-opentype" et "svg"*/
@font-face {
	font-family: "Ostrich";
	src: url("fonts/Ostrich/OstrichSansInline-Regular.otf") format("opentype");
}

@font-face {
	font-family: "OstrichIta";
	src: url("fonts/Ostrich/OstrichSansInline-Italic.otf") format("opentype");
}

@font-face {
	font-family: "ttf";
	src: url("fonts/Permanent_Marker/PermanentMarker-Regular.ttf") format("truetype");
}

@font-face{
	font-family: "example";
	src : url("dossier/dossierFont/Font.ext") format("FormatType");
}

@font-face{
	font-family: "Romono";
	src : url("fonts/Romono/RobotoMono-Regular.ttf") format("truetype");
}
