/*
b = background
c = column
clr = color
*/
:root{
  --bck-clr: pink;
}

*{
	margin: 0;
	padding:0;
	overflow:hidden;
}

.TransparentP{
	padding: 5% 0;
	color: white;
  	background-image: linear-gradient(black, rgb(25,15,50));
  	mix-blend-mode: multiply;
	text-align: center; 
	vertical-align: middle;
	font-family: ttf;
	width: 100%;
	height: 100%;
}

.bigtxt{
	font-size: 10vw;
}

.italic{
	font-family: OstrichIta;
}

.mono{
	font-family: Romono;
}

div{
	background: url("contrat2.jpg") center;
	background-size : cover;
}

.screen{
	width: 100vw;
	height: 100vh;
}

